p {
    margin: 10px;
}

.rendu {
    color: green;
}

.non-rendu {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

table tr td {
    border: 1px solid black;
  }
  
.rendu {
    color:green;
}
  
.nonRendu {
    color:red;
    border:2px dashed red;
    background-color:yellow;
}
  
#monParagraphe {
    color:pink
}
  
.container {
    display:flex;
    flex-direction:column;
    min-height: 300px;
    align-items: center;
    height: 100vh;
  }

.AjouerBnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;  /* espace entre les boutons */
}

  
.btnAjout {
    height: 50px;
    font-size: 3em;
    margin: 5px;
    width: 100%;
}


h2 {
    text-align: center;
    margin: 25px;
    font-size: 3em;
    font-style: italic;
    color:blueviolet;
}

a {
    text-align: center;
    font-weight: bold;
}

h3 {
    margin-left: 5px;
}

h1 {
    text-align: center;
    margin: 10px;
    color:red;
    font-weight: bold;
}