p {
    margin: 10px;
}

.rendu {
    color: green;
}

.non-rendu {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
  }