<main class="container">
  <h2>Welcome to your assignments management application !</h2>
  <div class="AjouerBnt">
    <button routerLink="/add" mat-raised-button color="accent"
                class="btnAjout">Ajout Assignment
    </button>
    <button routerLink="/delete" mat-raised-button color="accent"
                class="btnAjout">Delete Assignment
    </button>
    <button routerLink="/list" mat-raised-button color="accent"
                class="btnAjout">List Assignment
    </button>
    <button routerLink="/change" mat-raised-button color="accent"
                class="btnAjout">Change Assignment
    </button>
    <button routerLink="/tests" mat-raised-button color="accent"
                class="btnAjout">Generating test data
    </button>
  </div>
</main>

<!--<main class="container">

  <div class="AjouerBnt">
      <button routerLink="/add" mat-raised-button color="accent"
              class="btnAjout">Ajout Assignment
      </button>
    <h2>Liste des devoirs :</h2>
  </div>

  <mat-list *ngFor="let a of assignments">
    <h3 mat-subheader>Date de rendu : {{ a.dateDeRendu | date }}</h3>
    <mat-list-item (click)="assignmentClique(a)">
      <p *ngIf="a.rendu" appRendu>Le devoir : {{ a.nom }} a été <a>rendu.</a></p>
      <p *ngIf="!a.rendu" appNonRendu>{{ a.nom }}, <a>n'a pas été rendu.</a>.</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <app-list-assignments 
        [assignmentTransmis]="assignmentSelectionne"
        (deleteAssignment)="onDeleteAssignment($event)">
  </app-list-assignments>
</main>
-->