
<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>
    <nav><a routerLink="/home">{{title}}</a></nav>
  </h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with heart icon" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>


  <span *ngIf="currentUser">
    <!-- Ce bouton déclenche le menu déroulant -->
    <button mat-button [matMenuTriggerFor]="menu">{{currentUser.login}}</button>
    <!-- Définition du menu déroulant -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/connexion" disabled>Connecté en tant que {{currentUser.login}}</button>
      <button mat-menu-item routerLink="/connexion" (click)="logOut()">Se déconnecter</button>
    </mat-menu>
  </span>
  
   <!-- Si l'utilisateur n'est PAS connecté, affichez le bouton de connexion -->
  <button *ngIf="currentUser==null" routerLink="/connexion" mat-button>Connexion</button>
  
</mat-toolbar>

<mat-sidenav-container>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
      <mat-list>
      <button color="primary" mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with heart icon" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      </mat-list>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/list')" (click)="doSomething()">Liste des devoirs</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/add')" (click)="doSomething()">Ajout d'un devoir</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/change')">Modification d'un devoir</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/delete')">Suppression d'un devoir</button>
        <button class="matButRaised" mat-raised-button color="primary" (click)="navigateTo('/tests')">Génération de données de test</button>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Afficher le message si l'utilisateur n'est pas connecté -->
    <h1 *ngIf="afficheMessage" class="alert-message">Vous n'êtes pas connecté, veuillez vous connecter</h1>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</mat-sidenav-container>

<!--Ajout footer-->
<app-footer></app-footer>