h1 {
    color:red
}

mat-sidenav-container {
    height: auto;
  }

mat-drawer {
    width: auto;
    text-align: center;
    display: table-cell;
  }

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.app-container {
    display: flex;
    flex-direction: column;
    height: auto; /* Assure que le contenu prend toute la hauteur de la fenêtre */
}

a {
  color: rgb(239, 218, 218);
  font-size: auto;

}

.matButRaised {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ButLogin {
  margin-left: 20px;
  color: white;
}

a {
  color: rgb(239, 218, 218);
  font-size: auto;
}

.login-text {
  margin: 20px;
  font-size: auto;
  color: white;
  font-family: inherit; /* utilise la même famille de polices que le bouton "Connexion" */
  font-size: inherit;  /* utilise la même taille de police que le bouton "Connexion" */
}

.ButLogin {
  color: white;
  font-family: inherit; /* utilise la même famille de polices que le bouton "Connexion" */
  font-size: inherit;  /* utilise la même taille de police que le bouton "Connexion" */
}

/* Ceci cible spécifiquement le contenu du bouton .ButLogin */
.ButLogin button, .ButLogin a, .ButLogin span {
  color: white;
}

h1 {
  text-align: center;
  margin: 10px;
  color:red;
  font-weight: bold;
}



