<mat-toolbar color="primary">
  <button mat-icon-button (click)="opened=!opened" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mon application Angular sur les assignments !</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button>Connexion</button>
</mat-toolbar>

<app-assignments></app-assignments>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
          <mat-list-item>
              <a routerLink="/list-devoirs">Liste des devoirs</a>
          </mat-list-item>
          <mat-list-item>
              <a routerLink="/ajout-devoir">Ajout d'un devoir</a>
          </mat-list-item>
          <mat-list-item>
              <a routerLink="/modification-devoir">Modification d'un devoir</a>
          </mat-list-item>
          <mat-list-item>
              <a routerLink="/suppression-devoir">Suppression d'un devoir</a>
          </mat-list-item>
          <mat-list-item>
              <a routerLink="/generation-donnees">Génération de données de test</a>
          </mat-list-item>
      </mat-list>       
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
